/*HERE IS THE BODY SECTION */
body {
    margin:0px;
    background-color: #c6e5d9 ;
    font-size: 1.5vw;
}

body > h2 {
    color:#e94e77;
}

/*HERE IS THE HEADER */
header{
    padding: 5px;
    background-color: #d68189 ;
    color: #c6e5d9 ;
    text-align: center;
}

/*TOP NAVIGATION BAR*/
#top-nav-bar > ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: #c6a49a;
    
    margin:0px;
}

/*BOTTOM NAVIGATION BAR*/
#bottom-nav-bar > ul {
    list-style: none;
    text-decoration: none;
    background-color: #c6a49a;
    margin:0px;
}

/*FILTERS HERE*/
#filters > section >h4{
    color: #e94e77;
}
#filters > section > nav > ul > li{
    color: #d68189;
}

/*HERE IS THE INTRODUCTION SECTION*/
#introduction {
    color:#d68189;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#introduction > h1{
    color:#e94e77;
}

/*HERE IS THE NEWS SECTION*/
#news {
    width: 80%;
    margin: 0 auto;
}
#stories{
    display: flex;
}
#news > div > article > h3{
    color:#e94e77;
}

#news > h2{
    color:#e94e77;
}

#stories > article > p{
    color:#d68189;
}

/*HERE IS THE VILLAGERS SECTION*/
#villagers {
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

#villagers > h2{
    color:#e94e77;
}

#villagers> h3{
    color:#d68189;
}

#villagers-buttons {
    display: flex;
    display: grid;
    margin: auto;
    width: 30%;
    grid-template-columns: repeat(2, 1fr);
}

#villagers-buttons a {
    display: block; 
}



#form > h4{
    color:#e94e77;
}

#form{
    color:#d68189;
}
/*HOVER OVER VILLAGERS */
.hover-enlarge {
    transition: transform 0.3s ease; 
    display: block; 
}
.hover-enlarge:hover {
    transform: scale(1.2); 
}

/*FOOTER*/
body > footer{
    background-color: #d68189
}
#copyright{
    color: #c6e5d9 ;
    text-align: center;
}

