/*HERE IS THE BODY SECTION */
body {
    margin:0px;
    background-color: #c6e5d9 ;
    font-size: 1.25vw;
    font-family: 'Playpen Sans', Helvetica, sans-serif;
}

body > h2 {
    color:#e94e77;
}

#main {
    display: flex;
    justify-content: space-around;
}

/*HERE IS THE HEADER */
header{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #d68189 ;
    color: #c6e5d9 ;
    text-align: center;
}

/*TOP NAVIGATION BAR*/
#top-nav-bar > ul {
    display: flex;
    justify-content: space-around;
    background-color: #c6a49a;
    margin:0px;
    height: 30px;
}

#top-nav-bar > ul >li{
    list-style: none;
}

#top-nav-bar > ul > li > a{
    display: block;
    color: #c6e5d9;
    text-decoration: none; 
    margin: auto;
}

/*BOTTOM NAVIGATION BAR*/
#bottom-nav-bar > ul {
    display: flex;
    justify-content: space-around;
    background-color: #c6a49a;
    margin:0px;
}

#bottom-nav-bar > ul > div >li{
    list-style: none;
    text-decoration: none;
    color: #c6e5d9; 
}

#bottom-nav-bar > ul > div > li> a{
    color: #c6e5d9;
    text-decoration: none; 
    justify-content:space-around;
}

/*FILTERS HERE*/
#filters {
    width: 100%; 
    box-sizing: border-box; 
}

#filters > section {
    width: 100%; 
    margin-bottom: 1rem; 
}

#filters > section > h4 {
    color: #e94e77;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

#filters > section > nav > ul {
    padding: 0; 
    margin: 0; 
}

#filters > section > nav  {
    color: #d68189;
    margin-bottom: 0.5vh; 
}

#filters > section > nav > ul > li{
    list-style: none;
}

#filters > section > nav > ul > li > a:hover {
    text-decoration: underline; 
}

#filters > section > nav > ul > li > a {
    text-decoration: none;
    color: #d68189; 
}

#nooklings{
    margin-right: 2rem;
}

/*HERE IS THE INTRODUCTION SECTION*/
#introduction {
    color:#d68189;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#introduction > h1{
    color:#e94e77;
}

/*HERE IS THE NEWS SECTION*/
#news {
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    list-style: none;
}
#stories{
    display: flex;
    margin : auto;
    justify-content: space-around;
}

#news > div > article > h3{
    color:#e94e77;
    
}

#news > h2{
    color:#e94e77;
    text-align: center;
    
}

#stories > article > p{
    color:#d68189;
    justify-content: space-between;
}

#TimmyTommy > a > h3{
    color:#e94e77;
    text-decoration: none;
}

#FakeArt > a > h3{
    color:#e94e77;
    text-decoration: none;
}

#FakeArt > img{
    width: 90%;
    margin: auto;
    border-radius: 7%;
}

#TimmyTommy > img{
    width: 90%;
    border-radius: 7%;
    text-align: center;
}

#TimmyTommy{
    margin: 2rem;
    text-align: center;
    width: 40%;
}


#TimmyTommy > a {
    text-decoration: none;
}

#stories > article:hover{
    border: solid #d68189;
    border-radius: 7%;
    box-shadow:8px 8px 5px 5px #d68189;
}

#FakeArt {
    margin : 2rem;
    text-align: center;
    width: 40%;
}

#FakeArt > a {
    text-decoration: none;
}


/*HERE IS THE VILLAGERS SECTION*/
#villagers {
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

#villagers > h2{
    color:#e94e77;
}

#villagers> h3{
    color:#d68189;
}

#villagers-buttons {
    display: block;
    display: grid;
    margin: auto;
    width: 30%;
    grid-template-columns: repeat(2, 1fr);
}

#OpenPopupLinkBlanche {
    margin: auto;
    margin-bottom: 1rem;
}
#OpenPopupLinkBlathers {
    margin: auto;
    margin-bottom: 1rem;
}
#OpenPopupLinkKatt {
    margin: auto;
}
#OpenPopupLinkTom {
    margin: auto;
}

/*HERES THE FORM SECTION*/
#form > h4{
    color:#e94e77;
    text-align: center;
}
body > h2{
    text-align: center;
}

#form{
    color:#d68189;
    text-align: center;
}

/*HOVER OVER ITEMS AND TEXT */
.hover-enlarge {
    transition: transform 0.3s ease; 
    display: block; 
}
.hover-enlarge:hover {
    transform: scale(1.1); 
}

/*FOOTER*/
body > footer{
    background-color: #d68189
}
#copyright{
    color: #c6e5d9 ;
    text-align: center;
}
